*{border:1px solid black}

.prime{

  padding:100px;
  background-color: rgb(240, 20, 20);

}

.container{

  padding: 50px;
  background-color:greenyellow;
  
  }

  .box{

padding: 50px;
background-color: hotpink;

  }